# emacs config literate auto translation
readme.el
custom.el

# default emacs files
ido.last
tramp
session.*
projects
bookmarks
timelog

# default emacs folders
eshell/
eln-cache/
auto-save-list/
transient/
elpa/
tree-sitter/
tutorial/
url/

# package config files
.mc-lists.el

# forge
forge-database.sqlite