name: Deploy Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    container:
      image: iquiw/alpine-emacs

    env:
      SSG_BASE_PATH: emacs

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build site
        run: |
          emacs --batch --no-init-file --load publish-site.el --funcall org-publish-all
          mv public/readme.html public/index.html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: public

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  # Grant permissions needed for GitHub Pages deployment
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: false
